<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Index HTML</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
        .msg-icon{width:35px;height:35px;margin-right:10px}.msg{font-size:20px}
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
            <h1>GEEK SCHOOL 1st</h1>
        </div>
        <div class="col-md-6 text-right">
            <img th:src="${url}"/><span th:text="${name}"></span>
        </div>
    </div>

    <form action="post-message" method="post">
        <input type="text" name="text"/>
        <input type="submit" class="btn btn-default btn-sm" value="送信"/>
    </form>
    <br/>

    <table class="table">
        <tr>
            <th>
                <div class="col-md-9 text-left">
                    Message
                </div>
                <div class="col-md-3 text-right">
                    <form action="remove-all-by-user-id" method="post" th:if="${existMyMessageList}">
                        <input type="submit" class="btn btn-danger btn-sm" value="My投稿 全削除"/>
                    </form>
                </div>
            </th>
        </tr>
        <tr th:each="msg : ${messageList}">
            <td>
                <div class="col-md-9">
                    <img class="msg-icon" th:src="${msg.profilePictureUrl}"/><span class="msg" th:text="${msg.text}"></span>
                </div>
                <div class="col-md-3 text-right">
                    <form action="remove-by-message-id" method="post" th:if="${id == msg.userId}">
                        <input name="messageId" type="hidden" th:value="${msg.id}"/>
                        <input type="submit" class="btn btn-danger btn-sm" value="削除"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <input type="hidden" th:value="${id}"/>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
